<p id="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @post.user.email %>
  
</p>
 
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>
 
<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
 
 
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> | <%= link_to 'Reply', new_post_reply_path(@post) %>

<table class="">
  
 
<% @post.replies.each do |reply| %>
  <tr>
    <td><%= reply.content %></td>
  </tr>
  <tr>
   <td><%= reply.user.email %></td>
    
  </tr>
  <tr>
    <td><%= link_to 'Edit', edit_post_reply_path(@post, reply) %></td>
    <td><%= link_to 'Destroy', post_reply_path(@post, reply), :confirm => 'Are you sure?',
                                     :method => :delete %></td>
  </tr>
<% end %>
</table>